{% extends 'layouts/app.twig' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container p-3 text-center">
        <img src="/assets/img/logo.png" class="img-fluid animated fadeInUp" alt="" title="Logo" width="300px" height="300px">
    </div>
    <div class="container d-flex w-100 h-100 mx-auto flex-column text-center animated bounce delay-1s"> 
        <h2>Hello world!</h2>
        <p class="lead px-md-5">Slim4 Boilerplate</p>      
    </div>
{% endblock %}