<div class="container">
    <footer class="mt-auto p-5 text-center">     
        <p><small>&copy; 2020 <a href="{{url_for('home')}}">Web Application</a>, by <a href="https://www.github.com/fernandocalmet">@FernandoCalmet</a>.</small></p>       
    </footer>
</div>
